@use "../variables" as *;

.mood-result {
  margin-top: $space-md;

  &__title {
    margin: 0 0 $space-sm 0;
  }

  &__text {
    margin: 4px 0;
  }

  &__button {
    padding: 6px 12px;

    font-size: 14px;
    margin-top: $space-sm;
    cursor: pointer;
    border: none;
    border-radius: $radius;
    background: $primary;
    color: #fff;

    &:hover {
      background: $primary-hover;
    }
  }

  &__image {
    width: 200px;
    border-radius: 10px;
    margin-top: $space-sm;
    display: block;
  }
}
